/* 简单版Reset CSS */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* 列表 */
ol,
ul {
  list-style: none;
}

/* 表单元素 */
button,
input,
select,
textarea {
  font: inherit;
  color: inherit;
  background: transparent;
  border: 1px solid;
  padding: 0;
  margin: 0;
  outline: none;
}

button {
  cursor: pointer;
  background: none;
  border: none;
  padding: 0;
}

/* 链接 */
a {
  color: inherit;
  text-decoration: none;
}

/* 媒体元素 */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

/* 表格 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
